body::after {
    content: "";
    background-image: url(https://o.aolcdn.com/images/dims?quality=95&image_uri=https%3A%2F%2Fs.yimg.com%2Fuu%2Fapi%2Fres%2F1.2%2Ft_lP6tcQ0CJbJTeV8mrV2g--%7EB%2FaD00OTA7dz05ODA7YXBwaWQ9eXRhY2h5b24-%2Fhttps%3A%2F%2Fo.aolcdn.com%2Fhss%2Fstorage%2Fmidas%2F6623d5a6ae583f81ee3515b6b3615c7f%2F204855766%2Flandscape-1456483171-pokemon2.jpg&client=amp-blogside-v2&signature=174e15e69478ef59a7371b8f5adf5727a4c321e6);
    opacity: 0.6;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; 
  }

table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-radius: 5px;
}

caption {
    font-size: 2.5rem;
    margin-top: 50px;
}

thead th {
    font-size: 1.3rem;
    font-weight: 800;
    background-color: #2a75bb;
    color: #ffcb05;
}

th,td {
    border: 1px solid #ffcb05;
    border-radius: 5px;
    padding: 10px;
}

a {
    color: #2a75bb;
    text-decoration: none;
    font-size: 1.1.rem;
}

a:hover {
    text-decoration: underline;
}

td:nth-of-type(1) {
    background-color: #2a75bb;
    color: #ffcb05;
}

td:nth-of-type(2) {
    background-color: #ffcb05;
    border: 1px solid #2a75bb;
}

td:nth-of-type(3) {
    background-color: #ffcb05;
    border: 1px solid #2a75bb;
}

td:nth-of-type(4) {
    background-color: #ffcb05;
    border: 1px solid #2a75bb;
    color: #2a75bb;
}

.grass {
    border: 1px solid #78C850;
    border-radius: 50%;
    background-color: #78C850;
}

.poison {
    border: 1px solid #A040A0;
    border-radius: 50%;
    background-color: #A040A0;
}

.fire {
    border: 1px solid #F08030;
    border-radius: 50%;
    background-color: #F08030;
}

.empty {
  border: none;
}

img {
    width: 50px;
}

